rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create: if request.auth.uid == userId;
      allow update, delete: if request.auth.uid == userId
        && request.resource.data.email == resource.data.email
        && request.resource.data.emailVerified == resource.data.emailVerified
        && request.resource.data.signedUpTime == resource.data.signedUpTime
        && request.resource.data.zoomId == resource.data.zoomId        
        ;
    }

    match /users/{userId}/meetings/{document=**} {
      allow read, update, delete, create: if request.auth.uid == userId;
    }

    match /users/{userId}/customers/{document=**} {
      allow read, update, delete, create: if request.auth.uid == userId;
    }

    match /users/{userId}/rates/{document=**} {
      allow read: if request.auth.uid == userId;
      allow update, delete, create: if request.auth.uid == userId && exists(/databases/$(database)/documents/stripe/$(userId));
    }

  }
}